<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">

		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 首页<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Banner/banner')}" data-title="查看banner" href="javascript:void(0)">查看banner</a></li>
					<li><a data-href="{:url('Banner/keywords')}" data-title="查看seo搜索关键词" href="javascript:void(0)">查看seo搜索关键词</a></li>
					<li><a data-href="{:url('Banner/neirong')}" data-title="banner下面的三行字" href="javascript:void(0)">banner下面的三行字</a></li>
					<li><a data-href="{:url('Banner/banner1')}" data-title="我们的伙伴" href="javascript:void(0)">我们的伙伴</a></li>
				</ul>
			</dd>
		</dl>

        <dl id="menu-article1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 公司简介<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/banner2')}" data-title="查看banner" href="javascript:void(0)">查看banner</a></li>
                    <li><a data-href="{:url('cases/c_info')}" data-title="这就是我们" href="javascript:void(0)">这就是我们</a></li>
                    <li><a data-href="{:url('cases/c_info1')}" data-title="我们所能做的" href="javascript:void(0)">我们所能做的</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-article2">
            <dt><i class="Hui-iconfont">&#xe616;</i> 工程案例<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/banner3')}" data-title="查看banner" href="javascript:void(0)">查看banner</a></li>
                    <li><a data-href="{:url('cases/case1')}" data-title="查看工程案例" href="javascript:void(0)">查看工程案例</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-article3">
            <dt><i class="Hui-iconfont">&#xe616;</i> 产品展示<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/banner4')}" data-title="查看banner" href="javascript:void(0)">查看banner</a></li>
                    <li><a data-href="{:url('Banner/banner7')}" data-title="查看施工现场实拍" href="javascript:void(0)">查看施工现场实拍</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-article4">
            <dt><i class="Hui-iconfont">&#xe616;</i> 新闻中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/banner5')}" data-title="查看banner" href="javascript:void(0)">查看banner</a></li>
                    <li><a data-href="{:url('cases/case2')}" data-title="查看新闻中心" href="javascript:void(0)">查看新闻中心</a></li>

                </ul>
            </dd>
        </dl>

        <dl id="menu-article5">
            <dt><i class="Hui-iconfont">&#xe616;</i> 联系我们<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/banner6')}" data-title="查看banner" href="javascript:void(0)">查看banner</a></li>
                    <!--<li><a data-href="{:url('news/index')}" data-title="查看联系我们" href="javascript:void(0)">查看联系我们</a></li>-->
                </ul>
            </dd>
        </dl>



	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>